body {
    height: 100vh;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.heading-container {
    text-align: center;
}

.container {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.sketchpad-controls {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}

.sketchpad {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    width: 530px;
    height: 530px;
    flex-shrink: 0;
}

/* .sketchpad .cell {} */