body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.heading-container {
    text-align: center;
    font-size: 25px;
}

.container {
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 7em;
}

.sketchpad-controls {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}

.sketchpad-controls button {
    border: 1px solid black;
    background-color: whitesmoke;
    border-radius: 5px;
    font-size: large;
    width: 170px;
    height: 40px;
    cursor: pointer;
}

.sketchpad-controls button:hover {
    color: white;
    background-color: black;
}

.sketchpad {
    /* border: 1px solid black; */
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    width: 530px;
    height: 530px;
    flex-shrink: 0;
}

.range-slider-container {
    display: flex;
    flex-direction: column;
}

.slider-value {
    margin: 0;
    font-size: 20px;
    text-align: center;
}

/* .range-slider {} */